# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2017

###############################
# Core EditorConfig Options   #
###############################
root = true

###############################
# File Formatting Options     #
###############################
[*.cs]
indent_style = tab
indent_size = 4
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 110

###############################
# C# Formatting Rules         #
###############################
csharp_prefer_braces = true:suggestion
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

###############################
# .NET Naming Conventions     #
###############################